.container {
    padding: 40px 0 0 0;
 display: flex;
 flex-direction: row;
 width:100%;
 .left-bar {
    width: 20%;
    display: flex;
    justify-content: flex-start;
 }
 .main_container {
    width: 80%;
 }
 a {    
    text-align: left;
    padding: 14px;    
    font-size: 17px;    
}
}

